<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/066bb77ccc.js" crossorigin="anonymous"></script>
    <title>The Lost Boy - YBN Cordae</title>
</head>
<body>
    <video muted autoplay loop>
        <source src="/video/video.mp4" type="video/mp4">
    </video>
    <h1 class="hidden">The Lost Boy (album)</h1>
    <header class="mainHeader">
        <div class="headLink"><img src='/images/spotify.png'><p>Listen<br>Now</p></div>
        <a href="index"><div class="headBut"><h2>The Lost Boy</h2><p>YBN Cordae</p></div></a>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        
    </header>
    <nav class="mainNav">
            <ul>
                <a href="index"><li>Home</li></a>
                <li>Review</li>
                <a href="merch"><li>Merch</li></a>
                <li>Tour</li>
            </ul>
    </nav>
    <main class="mainBody">
        <div class="albumArea">
            <img src='/images/album-cover.jpg'>
            <div class="spotifyLink"><p>Listen Now</p></div>
        </div>
        <div class="artist">
            <div class="bio">
                <h2>YBN Cordae</h2>
                <p>YBN Cordae is an American Rapper from Maryland. He is part of the YBN Collective alongside YBN Nahmir and YBN Almighty Jay. <br>
                    Cordae is considered to be the lyrical forcefield of the YBN crew.<br>
                    He is known for his songs "Old Niggas" and "My Name is". 
                </p>
            </div>
        </div>

        <div class="trackList">
            <h2>15 tracks</h2>
            <ul>
                <li>Wintertime</li>
                <li>Have Mercy</li>
                <li>Sweet Lawd (Skit)</li>
                <li>Bad Idea (feat. Chance the Rapper)</li>
                <li>Thanksgiving</li>
                <li>RNP (feat. Anderson .Paak)</li>
                <li>Broke as Fuck</li>
                <li>Thousand Words</li>
                <li>Way Back Home (feat. Ty Dolla $ign)</li>
                <li>Grandma's House (Skit)</li>
                <li>Been Around</li>
                <li>Nightmares are Real (feat. Pusha T)</li>
                <li>Family Matters (feat. Arin Ray)</li>
                <li>We Gon Make It (feat. Meek Mill)</li>
                <li>Lost & Found</li>
            </ul>
        </div>


        <div class="reviewArea">
            <h2>The Lost Boy</h2>
            <p><span>The Lost Boy</span> is YBN Cordae's official debut album.<br>
            Cordae's album was released in the Summer of 2019. Response from new and old fans of the artist were overwhelmingly positive. With features from the likes of Chance the Rapper, Pusha T and Meek Mill, each track felt new and fresh.</p>
                <div class="points">
                    <ul>
                        <li><span>"an impressive hip-hop debut"</span><br>- ft.com</li>
                        <li><span>"Now not only is he carrying the YBN torch but also the only one keeping it lit"</span><br>- hiphopdx.com</li>
                        <li><span>"like, very good"</span><br>- theneedledrop</li>
                    </ul>
                </div>
        </div>

        <div class="merch">
            <a href='merch'><h2>Merch</h2></a>
            <div class="merchDis">
                    <a href='merch'><div>
                    <img src='/images/merch/hoodiew.png'>
                    </div></a>
                    <a href='merch'><p>The Lost Boy Hoodies</p></a>
        </div>
        </div>

        
    </main>

    <footer class="mainFooter">
        <div class="social">
            <div class="socialImg"><i class="fab fa-instagram"></i></div>
            <div class="socialImg"><i class="fab fa-youtube"></i></div>
            <div class="socialImg"><i class="fab fa-soundcloud"></i></div>
            <div class="socialImg"><i class="fab fa-spotify"></i></div>
        </div>

        <nav class="footerNav">
            <ul>
                <a href='index'><li>Home</li></a>
                <li>Review</li>
                <a href="merch"><li>Merch</li></a>
                <li>Tour</li>
            </ul>
        </nav>
        <p>2019 Atlantic Records© All Right Reserved. </p>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>