@charset "utf-8";
/* CSS Document */


/*Linking Othe .scss files*/
@import './modules/reset';
@import './modules/vars';

.hidden{
    display: none;
}

body{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin: 0 auto; 

    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

video{
    position: fixed;
    z-index: -3;
    bottom: 0;
    right: 0;
    // width: 100%;
    height: 100%;
}

.mainHeader{
    position: fixed;
    z-index: 2;
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    .headLink{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 80px;

        position: relative;
        top: 5px;

        cursor: pointer;
        img{
            height: 40px;
            width: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            position: relative;
            bottom: 10px;
            font-size: 14px;
        }
    }

    .burger{
        width: 80px;

        cursor: pointer;
        .line{
        height: 4px;
        margin: 5px;
        width: 32px;
        background-color: white;
    }
    }

    
    
}

.mainNav{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        clip-path: circle(0px at 50% -10%);

        transition: all 1s ease;
        
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;

            li{
                cursor: pointer;
                font-size: 60px;
                margin-top: 130px;
                transition: all .3s ease;
                &:hover{
                    color: #1ED760;
                }
            }
        }
    }

    .open{
        clip-path: circle(2000px at 50% -10%);
    }

.mainBody{
    margin: 0 auto;

    .albumArea{
        img{
            width: 90%;
            margin-top: 95px;
            opacity: .8;
            box-shadow: 0px 0px 45px -16px rgba(0,0,0,0.75);
            
        }
        .spotifyLink{
            background-color: #1ED760;
            height: 40px;
            border-radius: 20px;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            display: flex;

            position: relative;
            bottom: 20px;

            cursor: pointer;
            p{
                align-self: center;
                text-align: center;
                width: 100%;
            }
        }
    }

    .artist{
        border-bottom: solid 1px #4D3822; 
        margin-top: 40px;
        opacity: .85;
        
        .bio{
            width: 100%;
            background: url("../images/cordae.png") no-repeat;
            background-position: 130% 100%;
            background-size: 55%;
            
        h2{
            font-size: 36px;
            line-height: 70px;

            margin-top: 30px;

            position: relative;
            bottom: 25px;
            z-index: -1;

            background: url("../images/sign1.svg") center no-repeat;
            color: rgba(255, 255, 255, 0.8);
        }

        P{
            text-align: left;
            width: 65%;
            margin-left: 20px;
            font-size: 14px;
            line-height: 20px;

            position: relative;
            bottom: 10px;
            text-shadow: 1px 1px 1px #000, 3px 3px 5px rgba(0,0,0,0.2);
        }
        }

    }

    .trackList{
        margin-top: 50px;
        opacity: .8;

        h2{
            font-size: 22px;
        }

        ul{

            li{
                margin-top: 70px;
                font-size: 16px;
                font-family: 'Mansalva', cursive;
            }
        }

    }

    .reviewArea{
        margin-top: 30px;
        opacity: .85;

        h2{
            font-size: 36px;
            line-height: 70px;
            

            background: url("../images/sign2.svg") center no-repeat;
            color: rgba(255, 255, 255, 0.85);
        }
        p{
            margin-right: auto;
            margin-left: auto;
            width: 95%;
            text-shadow: 1px 1px 1px #000, 3px 3px 5px rgba(0,0,0,0.2);
            margin-top: 20px;

            font-size: 20px;
            line-height: 25px;
        }

        .points{
            li{
                font-size: 16px;
                margin: 10px;
                margin-top: 30px;
                line-height: 22px;
                span{
                    font-style: italic;
                }
            }
        }
    }

    .merch{
        margin-top: 30px;
        h2{
                font-size: 36px;
                line-height: 70px;
                
    
                background: url("../images/sign1.svg") center no-repeat;
                color: rgba(255, 255, 255, 0.85);
        }
    }

}

.mainFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 50px;
    padding-top: 40px;
    border-top: solid 1px #4D3822;
    opacity: .9;

    .social{
        margin-top: 20px;
        width: 30%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;

        .socialImg{
            .fab{
                font-size: 24px;
                cursor: pointer;
            }
        }

    }

    .footerNav{
        width: 30%;
        margin-bottom: 20px;
          li{
        margin-top: 20px;
        font-size: 14px;
        cursor: pointer;
        }  
    }
    
        p{
            font-size: 10px;
            margin-left: auto;
            margin-bottom: 10px;
        }
}